{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  {% if user.is_authenticated %}
  <div id="main">
    <div class="post-content">
        <a style="float:right;margin:51px" href="../profile" role="button" class="btn btn-info btn-lg">Update profile</a>
        <img style="width:125px;height: 125px" class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="Profile picture">
        <h2 style="padding:0px;margin-left:10px">{{ user.username }} - {{ user.profile.Class }}</h2>
        <small style="padding:0px;margin:0px">{{ user.email }}</small>
    </div>
    <div class="tag" style="text-align:center;color:white"><h4>Published Posts</h4></div>
    {% for post in posts %}
      {% if post.author == user %}
        <div class="post-content">
            <img style="width:100px;float:right" src="{{ post.image.url }}" alt="Post image">
            <strong><a style="margin-left:30px;font-size:21px" href="{% url 'post-detail' post.id %}">{{ post.title|title }}</a></strong>
            <p style="margin:0px">{{ post.content|truncatewords:20 }}</p>
            <div class="text-muted" style="margin-left:10px">{{ post.date_posted|date:"F d, Y"  }}</div>
        </div>
      {% endif %}
    {% endfor %}
    <div style="margin:35px;margin-top:50px">
        {% if posts.has_previous %}
            <a class="btn-info btn-lg" href="?page=1"><<</a>
        {% endif %}

        {% for num in posts.paginator.page_range %}
            {% if posts.number == num %}
                <a class="btn-primary btn-lg" href="?page={{num}}">{{num}}</a>
            {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                <a class="btn-info btn-lg" href="?page={{num}}">{{num}}</a>
            {% endif %}
        {% endfor %}

        {% if posts.has_next %}
            <a class="btn-info btn-lg" href="?page={{ posts.paginator.num_pages }}">>></a>
        {% endif %}
  </div>
  {% else %}
    <div class="container" style="height:-webkit-fill-available">
      <div id="contact-form" style="float: right">
          <img id="avatar" src="../static/blog/images/account.png" alt="avatar">
          <h2>My Account</h2>
            <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form| crispy }}
            </fieldset>
            <div class="form-group">
                </div>
            <input type="submit" value="Sign In">
            <p><input type="checkbox" style="width:31px">Remember Me</p>
            <div id="registration">
              <p>Still not registered<a href="/register" role="button" class="btn btn-link">Sign up Now!!</a>
              </P>
            </div>
          </form>
      </div>
    </div>
  {% endif %}
{% endblock content %}