{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div id="main">
    <div class="content-section">
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-gtoup">
                 <legend class="border-bottom mb-4">Profile info</legend>
                 {{ u_form|crispy }}
                 {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
                 <button class="btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>
</div>
{% endblock content %}