*{
  margin: 0;
}
a{
  text-decoration: non;
}
p,h1,h2,h3,h4,h5,h6{
    padding: 10px;
}
li{
    list-style-type: none;
}
header{
	width: 100%;
	background-color: #4e94ab;
}
header label{
	display: none;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #fff;
}
header label:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.3);
}
/*only displays when in mobile view*/
#btn-menu{
	display: none;
}
.menu ul{
	margin: 0;
	margin-left: 200px;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
}
.menu li:hover{
	background-color: rgba(0,0,0,0.3);
}
.menu li a {
	font-weight: bold;
	display: block;
	padding: 10px 13px;
	color: #fff;
}
.container-fluid{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}
.container{
  z-index: -10;
  padding: 0px;
}
.row{
margin-left: 7px;
}
#main{
  background: #6cb7c378;
  padding-top: 20px;
  padding-bottom: 20px;
}
.overlay{
  background: #0000008a;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}
#banner{
	background-size: 100% auto;
	width: 100%;
	height: 100px;
  margin: 0;
}
#banner-left{
  margin: 0;
  width: auto;
  float: left;
}
#banner-center{
  width:auto;
	color: #fff;
	padding: 0px;
	padding-left: 40px;
	font-size: 56px;
	font-weight: bold;
  justify-content: center;
}
#banner-right{
	width:100%;
	height: 100%;
	float: right;
}
#banner-right ul{
	list-style-type: none;
	display: flex;
	flex:1;
}
#banner-right ul li{
	float: left;
}
#banner-right-social{
	height: 60px;
	width: 100px;
	float: right;
	padding: 5px;
}
.side{
	width: 29%;
	height: 200px;
	background-color: #e0eeee;
	float: right;
	margin-bottom: 10px;
	border: 1px solid #ffff99;
}
.content{
	width: 70%;
	height: auto;
	background-color: #e0eeee;
	float: left;
}
#head-tab{
	margin: 0;
	width: 100%;
	height: 30px;
	color: #fff;
	border-radius: 2px;
	background-color: #4e94ab;
}

.tag{
    margin: 17px;
    border: 7px  solid #2a7d98;
	border-radius: 15px;
}
article{
	border: 3px  solid #2a7d98;
	border-radius: 15px;
	width: 220px;
    height: 300px;
    overflow: hidden;
    background-color: #000;
    display: inline-block;
    margin: 0 2px;
    position: relative;
    color: #fff;
    box-shadow: 0 1px 7px rgba(0,0,0,.64);

}
.article-title{
    position: absolute;
    width: 215px;
    text-align: center;
    font-size: 11px;
    display: block;
    background-color: rgba(0,0,0,.53);
    padding: 3px;
    margin: 0;
    transition: .5s all ease;
    height: auto;
}
/*hiding the mobile menu icon*/
#logo-menu{
	display: none;
}
#search_form{
	padding: 5px;
}
#search{
	width: 100px;
	margin: 4px;
}
#search_text{
	width: 80%;
	padding: 5px 0 5px 5px;
	font-size: 12px;
	font-family: Montserrat,sans-serif;
	border: 0 none;
	height: 30px;
	margin-right: 0;
	color: #fff;
	outline:none;
	background: #293c4a;
	float: left;
	box-sizing:border-box;
	transition:all 0.15s;
}
#search_text:focus{
	background: #293c4a;
}
#search_button{
	border:0 none;
	background: #293c4a center no-repeat;
	width: 20%;
	padding: 0;
	text-align: center;
	height: 30px;
	cursor: pointer;
}
@media screen and (max-width: 768px){
header label{
	display: block;
}
#main{
	margin:0;
}
#logo-menu{
	float: right;
	display: block;
	font-weight: bold;
	color: #fff;
	font-size: 25px;
	padding: 10px;
}
header{
	width: 100%;
}
.menu{
	position: absolute;
	background: ;
	width: 70%;
	margin-left: -70%;
	transition:all 0.5s;
}
.menu ul{
	flex-direction:column;
}
.menu li{
	border-top: 1px solid #fff;
}
/*activate the checkbox for showing the mobile menu*/
.show{
	position: absolute;
	background: #4e94ab;
	width: 70%;
	margin: 0;
	transition:all 0.5s;
}
.container{
	width: 100%;
	height: auto;
}
#banner{
	display: none;
}
.side{
	display: none;
}
.content{
	width: 100%;
	padding: 5px;
}
#search_bar{
	display: block;
}

}
@media screen and (max-width: 889px){
	.container-fluid{
		width: 100%;
	}
}
#contact-form{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 400px;
      height: 515px;
      padding: 70px 37px;
      box-sizing: border-box;
      background: #294bce82;
      border-radius: 25px;
      }
#avatar{
      position: absolute;
      width: 90px;
      height: 90px;
      border-radius: 70%;
      overflow: hidden;
      top: calc(-80px/2);
      left: calc(50% - 40px);
  }
#contact-form h2 {
      margin: 0;
      padding: 0 0 20px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
  }
#contact-form p
  {
      margin: 0;
      padding: 0;
      font-weight: bold;
      color: #fff;
  }
#contact-form input
  {
      width: 100%;
      margin-bottom: 20px;
  }
#contact-form input[type="text"],
#contact-form input[type="password"]
  {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: #fff;
      font-size: 16px;
  }

#contact-form input[type="submit"] {
      height: 30px;
      color: #fff;
      font-size: 15px;
      background: #004085;
      cursor: pointer;
      border-radius: 25px;
      border: none;
      outline: none;
      margin-top: 7%;
  }
#contact-form a
  {
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
  }
  input[type="checkbox"] {
      width: 20px;
  }
  #registration{
    height: 30px;
    color: #fff;
    font-size: 15px;
    background: #004085;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-top: 3%;
    text-align: center;
  }
//---Calender-----
 .calendar{
	position: absolute;
	border-radius: 4px;
	overflow: hidden;
	width: 800px;
	height: 450px;
	left: 50%;
	margin-left: -400px;
	margin-top: -225px;
	top: 50%;
	background-color: #ffffff;
	color: #333333;
}

.calendar h1, .calendar h2{
	font-weight: 300;
	font-size: 26px;
	line-height: 28px;
	text-transform: uppercase;
	margin: 0px 0px 20px 0px;
}

.calendar h1 span{
	display: block;
}

.calendar .col{
	position: relative;
	float: left;
	height: 100%;
}

.calendar .col .content{
	padding: 40px;
}

.calendar ul{
	margin: 0px;
}

.calendar ul li{
	list-style: none;
}

.calendar .leftCol{
	width: 40%;
	background-color: #F48989;
}

.calendar .noteList li{
	color: #ffffff;
	margin-bottom: 10px;
}

.calendar .notes p,
.calendar .notes input,
.calendar .noteList li{
	font-weight: 300;
	font-size: 14px;
}

.calendar .notes p{
	border-bottom: solid 1px rgba(255,255,255,0.4);
}

.calendar .notes input{
	background-color: #F48989;
	color: #ffffff;
	border: none;
	width: 200px;
}

.calendar .addNote,
.calendar .removeNote{
	float: right;
	color: rgba(255,255,255,0.4);
	font-weight: bold;
	margin-left: 20px;
}

.calendar .addNote:hover,
.calendar .removeNote:hover{
	color: #ffffff;
}

.calendar .addNote{
	font-size: 16px;
}

.calendar .leftCol h1{
	color: #ffffff;
	margin-bottom: 40px;
}

.calendar .rightCol{
	width: 60%;
}

.calendar .rightCol h2{
	color: #C7BEBE;
	text-align: right;
	margin-bottom: 70px;
}

.calendar .months li,
.calendar .weekday li,
.calendar .days li{
	float: left;
	text-transform: uppercase;
}

.calendar .months li a,
.calendar .weekday li a,
.calendar .days li a{
	display: block;
	color: #747978;
}

.calendar .months li a{
	font-size: 10px;
	color: #C7BEBE;
	text-align: center;
	width: 32px;
	margin-bottom: 20px;
}

.calendar .months li .selected{
	font-weight: bold;
	color: #747978;
}

.calendar .weekday li a{
	width: 55px;
	text-align: center;
	margin-bottom: 20px;
	font-size: 12px;
}

.calendar .days li{
	width: 55px;
}

.calendar .days li a{
	width: 36px;
	height: 24px;
	text-align: center;
	margin: auto auto;
	font-size: 12px;
	font-weight: bold;
	border-radius: 12px;
	margin-bottom: 10px;
	padding-top: 10px;
}


.calendar .days li a:hover{
	background-color: #EEEDE9;
}

.calendar .days li .selected{
	background-color: #F5A1A3!important;
	color: #ffffff;
}

.calendar .days li .event{
	color: #F5A1A3;
}


/* placeholder color */
::-webkit-input-placeholder {color: #ffffff; }
:-moz-placeholder {color: #ffffff; }
::-moz-placeholder {color: #ffffff; }
:-ms-input-placeholder {color: #ffffff; }

.post-content{
    background: #f3f5f77a;
    margin: 10px;
    padding: 20px;
    border-radius: 25px;
    border-top-width: 5px;
}

.blinking{
    animation:blinkingText 0.7s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: skyblue; }
    50%{    color: blue; }
    99%{    color:skyblue;  }
    100%{   color: #000;    }
}