{% extends "blog/base.html" %}
{% block content %}
      <div id="main">
          <div style="padding:15px">
            <img style="float: right; margin-top: 77px" src="../static/blog/images/logo.png" alt="The Blog Logo">
            <h1> About The Blog</h1>
            <p> The idea behind this name is that our blog will be a collection of articles that answer the question of what makes Bavaria a real heaven to live in or just visit. How many times we go to a certain place yet we have no idea what special about it, or what are the beautiful spots to check and even if we know we don't benefit from that magical place at the maximum and we often miss a lot of opportunities. However, our blog will assure that that will never happen again since the articles we provide will point you directly to the places you should visit, the things you should try and even show you the experiences of others with their recommendations.
            </p>
            <h1> Conact Us</h1>
              <p> You contact us either by mail or phone :<br>Mail: help@tbh.de<br>Tel: 017/14782168.
              </p>
            <img style="float: right; width: 300px" src="../static/blog/images/support.png" alt="support us">
            <h1> Support Us</h1>
            <p> Suppoting our blog will improve the quality of it's content.<br>
              without supporting us could not do anything without your support
            </p>
              <p> There are many ways in order to support our ambitions <br>
                Tell your friend and family about our blog <br>
                Share our Blog in social media <br>
                Donating for us  Contact us  by mail or phone :Mail: help@tbh.de Tel: 017/14782168.
              </p>
            <h1>Privacy policy</h1>
            <p> you can check our privacy polcy under the link below: </p>
            <button type="button" class="btn btn-link" style="background-color:white">Privacy policy</button>
          </div>
      </div>
{% endblock content %}
