{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>The bavarian heaven Blog</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
  </head>
  <body>
    <header>
      <div id="logo-menu">Home</div>
      <input type="checkbox" id="btn-menu">
      <label for="btn-menu"><img src="http://127.0.0.1:8000/static/blog/images/menu.png" alt="menu"></label>
      <div id="banner" class="row" style="background-image:url(http://127.0.0.1:8000/static/blog/images/header.jpg)">
        <div class="col-3" style="padding-left:0px; padding-right: 0px">
          <div id="banner-left"><a href="/"><img src="http://127.0.0.1:8000/static/blog/images/logo.png" alt="logo" style="width: 250px; height: 143px"></a></div>
        </div>
        <div class="col-6" style="height:100px">
          <div id="banner-center">The Bavarian Heaven</div>
        </div>
        <div class="col-3" style="height:100px">
          <div id='banner-right-social'>
  				<ul>
  					<li><a href='#'><img src="http://127.0.0.1:8000/static/blog/images/social/facebook.png" alt="facebook"></a></li>
  					<li><a href='#'><img src="http://127.0.0.1:8000/static/blog/images/social/twitter.png" alt="twitter"></a></li>
  					<li><a href='#'><img src="http://127.0.0.1:8000/static/blog/images/social/instagram.png" alt="instagram"></a></li>
  				</ul>
  			   </div>
        </div>
      </div>
      <nav class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/archive/descending">Archive</a></li>
          <li><a href="/calender">Calander</a></li>
          <li><a href="/check">My Account</a></li>
        {% if user.is_authenticated %}
                <li><a style="padding-left:150px" class="nav-item nav-link" href="{% url 'event-create' %}">Add New Event</a></li>
                <li><a style="padding-left:15px" class="nav-item nav-link" href="{% url 'post-create' %}">Add New Post</a></li>
                <li><a  class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>
              {% else %}
                <li><a style="padding-left:250px" class="nav-item nav-link" href="{% url 'login' %}">Login</a></li>
        {% endif %}
        </ul>
      </nav>
      <form method="post" id="search_bar">
        <input type="text"  id="search_text" placeholder="Search">
        <input type="button"  id="search_button" value="" style="background-image:url(http://127.0.0.1:8000/static/blog/images/search.png)">
      </form>
    </header>
  <div class="container-fluid" style="background-image:url(http://127.0.0.1:8000/static/blog/images/heaven.jpg">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

    <div class="container">
      <div class="overlay"></div>
      {% block content %} {% endblock %}
    </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>