{% extends "blog/base.html" %}
{% block content %}
<div id="main">
  <div class="media content-section">
    <div class="media-body" style="padding:15px">
      <div class="post-content" style="padding:5px">
         <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" style="width: 50px;margin-right:20px;margin-left:20px;float:left">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user or user.profile.Class == 'Administrator' %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <div class="post-content">
        <img src="{{ post.image.url }}" width="300" style="float:right">
        <h2>{{ object.title }} ---> <span class="blinking">{{ object.tag }}</span></h2>
        <p class="article-content">{{ object.content }}</p>
      </div>
    </div>
  </div>
    <hr>
    <div style="padding:20px"><a class="btn btn-primary" href="{% url 'add_comment_to_post' object.id %}">Add comment</a></a></div>
    {% for Comment in post.comments.all %}
        {% if user.is_authenticated or Comment.approved_comment %}
        <div class="post-content">
            <div class="date">
                {{ Comment.created_date }}
                {% if not Comment.approved_comment %}
                    <a class="btn btn-info" href="{% url 'comment_approve' post.id Comment.pk %}">Approve</a>
                {% endif %}
                {% if user.profile.Class == 'Administrator' or user == object.author %}
                    <a class="btn btn-danger" href="{% url 'comment_remove' post.id Comment.pk %}">Remove</a>
                {% endif %}
            </div>
            <strong> by {{ Comment.author }}</strong>
            {{ Comment.text|linebreaks }}
        </div>
        {% endif %}
    {% empty %}
    <p>No comments here yet :(</p>
    {% endfor %}
</div>
{% endblock content %}