{% extends "blog/base.html" %}
{% block content %}
      <img style="float: right; margin-top: 77px" src="../static/blog/images/support.png" alt="support us">
      <div id="About">
        <h1> Support Us</h1>
        <p> Suppoting our blog will improve the qualty of the page.<br>
          without supporting us could not do anything without your support
        </p>
          <p> There is many way for supporting us <br>
            Tell your friend and family about our blog <br>
            Share our Blog in social media <br>
            Donating for us  Contact us  by mail or phone :Mail: help@tbh.de Tel: 017/14782168.
          </p>
        <h1>Privacy policy</h1>
        <p> you can check our privacy polcy under the link below: </p>
        <button type="button" class="btn btn-link">Privacy policy</button>
      </div>
{% endblock content %}